img {
    height: 300px;
    width: 100%; 
}
a {text-decoration: none;
   color : black ;
}

div ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none; 
    background-color: darksalmon;
    display: flex;
    flex: 2 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: darksalmon ;
}
 #home {
    background-color: darksalmon ;
 }